@CHARSET "US-ASCII";

body {
	text-align: center;
}
/* outline: 7px solid red; 
-webkit-transform:scale(-1,1);
-webkit-transform:scale(1.5);
-webkit-transform:rotate(45deg);
-webkit-transform:skew(30deg);
-webkit-transform:translate(150px,350px);
-webkit-transform:translate(100px,100px) rotate(30deg) scale(.8);*/
#box {
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 7px solid blue;
	background: yellow;
	outline: 7px solid red;
	-webkit-transform:translate(100px,100px) rotate(30deg) scale(.8);
}

#text {
	font: bold 30px Century Gothic;
}